<h1>{{title}}</h1>
<p>
  This sample demonstrates the OpenId Connect Authorization flow.
</p>
<p>
  After clicking login the user will be redirect to DZB to
  authenticate. Once authenticated they will be redirected back to
  this site and will be able to view the users page
</p>
<p>
  <a href="/login" class="btn">LOGIN</a>
</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">First</th>
        <th scope="col">Handicap</th>
        <th scope="col">Username</th>
        <th scope="col">Password</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Ray</td>
        <td>blind</td>
        <td>blind@dzb.de</td>
        <td>blind</td>
    </tr>
    <tr>
        <td>Julian</td>
        <td>partially sighted</td>
        <td>partially-sighted@dzb.de</td>
        <td>partially-sighted</td>
    </tr>
    <tr>
        <td>Anna</td>
        <td>blind</td>
        <td>anna</td>
        <td>bl</td>
    </tr>
    <tr>
        <td>Jacob</td>
        <td>partially sighted</td>
        <td>jacob</td>
        <td>ps</td>
    </tr>
    <tr>
        <td>Julius</td>
        <td>dyslexia</td>
        <td>julius</td>
        <td>dy</td>
    </tr>
    <tr>
        <td>Albert</td>
        <td>none</td>
        <td>e</td>
        <td>t</td>
    </tr>
    </tbody>
</table>