body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn {
  display: block;
  background-color: #00B7FF;
  color: #fff;
  padding: 10px;
  width: 100px;
  text-align: center;
  text-decoration: none;
}
.btn:hover {
  background-color: #4682b4;
}

#username {
  color: indianred;
}


.blind {
  font-family: "Braille";
}

.partiallysighted {
  background-color: black!important;
  color: white;
  font-size: xx-large;
}

.dyslexia {
  font-family: "OpenDyslexic";
}

.profile {
  font-size: small;
}